.Clipping .Circle {
  clip-path: circle(25% at 50%);
}
.Clipping .Ellipse {
  clip-path: ellipse(25% 25% at 50%);
}
.Clipping .Inset {
  clip-path: inset(10% 20% 30% 40% round 10% 20% 30% 40%);
}
.Clipping .Polygon1 {
  clip-path: polygon(
    20% 20%,
    60% 20%,
    80% 50%,
    60% 80%,
    20% 80%,
    40% 50%,
    20% 20%
  );
}
.Clipping .Path1 {
  clip-path: path(
    "M 10,40 L 70,40 L 80,30 L 80,10 L 90,0 L 140,0 L 150,10 L 150,120 L 140,130 L 10,130 L 0,120 L 0,50 L 10,40 Z"
  );
}
