.AnimatedGlowingBorder {
  .Container {
    display: grid;
    position: relative;

    .Content {
      position: relative;
      background: conic-gradient(
        var(--degree),
        red,
        purple,
        blue,
        green,
        yellow,
        orange,
        red
      );
      isolation: isolate;

      &::before {
        content: "";
        position: absolute;
        inset: 1px;
        background-color: white;
        z-index: -3;
      }

      &.Left {
        border-top-right-radius: 100vw;
        border-bottom-right-radius: 100vw;
        margin-left: -20px;

        &::before {
          border-top-right-radius: 100vw;
          border-bottom-right-radius: 100vw;
        }

        .Inner {
          border-top-right-radius: 100vw;
          border-bottom-right-radius: 100vw;
        }

        .Outer {
          border-top-right-radius: 100vw;
          border-bottom-right-radius: 100vw;
        }

        .Outer_Backside {
          border-top-right-radius: 100vw;
          border-bottom-right-radius: 100vw;
        }
      }

      &.Right {
        justify-self: end;
        border-top-left-radius: 100vw;
        border-bottom-left-radius: 100vw;
        margin-right: -20px;

        &::before {
          border-top-left-radius: 100vw;
          border-bottom-left-radius: 100vw;
        }

        .Inner {
          border-top-left-radius: 100vw;
          border-bottom-left-radius: 100vw;
        }

        .Outer {
          border-top-left-radius: 100vw;
          border-bottom-left-radius: 100vw;
        }

        .Outer_Backside {
          border-top-left-radius: 100vw;
          border-bottom-left-radius: 100vw;
        }
      }

      .Inner {
        position: absolute;
        inset: 10px;
        background: conic-gradient(
          red,
          purple,
          blue,
          green,
          yellow,
          orange,
          red
        );
        z-index: -4;
        filter: blur(10px);
      }

      .Outer {
        position: absolute;
        z-index: -2;
        inset: 7px;
        background-color: white;
      }
      .Outer_Backside {
        position: absolute;
        z-index: -3;
        inset: 19px;
        background: conic-gradient(
          red,
          purple,
          blue,
          green,
          yellow,
          orange,
          red
        );
        filter: blur(10px);
      }
    }
  }
}

@keyframes AnimatedGlowingBorder_Rotate {
  to {
  }
}
