.PerspectiveAnimation.Section {
  perspective: 1000px;
  background-color: black;
  animation: ChangePerspective 30s ease-in-out infinite;
}

@keyframes ChangePerspective {
  0%,
  100% {
    perspective-origin: 50% 50%;
  }
  20% {
    perspective-origin: 10% 10%;
  }
  40% {
    perspective-origin: 10% 90%;
  }
  60% {
    perspective-origin: 90% 10%;
  }
  80% {
    perspective-origin: 90% 90%;
  }
}
