.PerspectiveAnimation .Left {
  width: 190%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(90deg);
  transform-origin: left;
  background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.9)),
    conic-gradient(black 25%, white 0 50%, black 0 75%, white 0) 0 0 / calc(8em)
      calc(8em);
  animation: MoveLeft 30s linear infinite;
}

@keyframes MoveLeft {
  to {
    background-position: -100% 0%;
  }
}
