.Mask.Div1 {
  background: linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.8) 10%,
      rgba(0, 0, 255, 0.8)
    ),
    url(/css/mask/bg.webp);
  background-size: cover;
  background-position: center;

  mask-image: url(/css/mask/mask-1.webp);
  mask-size: 200% 50%;

  mask-position: center;
  mask-repeat: no-repeat;
}
