.AwardWinningAnimation_Gallery_MainPhoto {
  animation: fullTransform 2s 5.4s ease-in-out forwards;
}

@keyframes fullTransform {
  to {
    width: calc(1px * var(--width));
    height: calc(1px * var(--height));
  }
}
