.CurrentAction_ImageContainer {
  background-image: var(--src);
  box-shadow: inset -5px 5px 5px 5px white;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: calc(
    -1px * (var(--h) * var(--y) - calc(3 * var(--y)))
  );
  animation: moves calc(1s * (var(--time))) steps(var(--step)) infinite;
}

@keyframes moves {
  to {
    background-position-x: calc(-1px * var(--w) * var(--step));
  }
}
